<nav class="navbar navbar-static-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs visible-sm" href="/">Binaergewitter</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Home</a>
                </li>
                {{ range .Pages }}
                <li>
                    <a href="{{ .URL }}">{{ .Title }} {{ if and (eq .Title "Live") $.IsLive }}(On Air){{ end }}</a>
                </li>
                {{ end }}
                <li>
                    <a href="{{ categoryArchivePath .Category }}">Archives</a>
                </li>
            </ul>
        </div>
    </div>
</nav>