{{ define "main" }}
<article class="post">
    <header>
        <h1>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <small class="date"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format .Site.Params.date_format }}</time></small>
        </h1>
    </header>

    <div class="content">
        {{ .Content | replaceRE "<h1" "<h2" | replaceRE "</h1>" "</h2>" | safeHTML }}

        {{ if .Params.audioformats }}
        {{ partial "podcast_controls.html" . }}
        {{ partial "episode_extras.html" . }}
        {{ end }}
    </div>

    {{ if .Site.Params.isso }}
    <hr>
    {{ partial "isso.html" . }}
    {{ end }}
</article>
{{ end }}
