/* GitHub Ribbon CSS - Fork me on GitHub */
/* Based on https://github.blog/news-insights/the-library/github-ribbons/ */

.github-fork-ribbon-wrapper {
    width: 100px;
    height: 100px;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    pointer-events: none;
}

.github-fork-ribbon-wrapper.right {
    right: 0;
}

.github-fork-ribbon-wrapper.left {
    left: 0;
}

.github-fork-ribbon {
    position: absolute;
    padding: 1px 0;
    background-color: #333;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    font: 700 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 9999;
    pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 140px;
    line-height: 16px;
    display: inline-block;
    padding: 1px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
    top: 28px;
    right: -30px;
    transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
    top: 28px;
    left: -30px;
    transform: rotate(-45deg);
}

/* Color variations */
.github-fork-ribbon.red {
    background-color: #a00;
}

.github-fork-ribbon.green {
    background-color: #090;
}

.github-fork-ribbon.black {
    background-color: #333;
}

.github-fork-ribbon.orange {
    background-color: #f80;
}

.github-fork-ribbon.gray {
    background-color: #888;
}

.github-fork-ribbon.white {
    background-color: #fff;
}

.github-fork-ribbon.white a {
    color: #000;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

/* Responsive - hide on small screens */
@media screen and (max-width: 768px) {
    .github-fork-ribbon-wrapper {
        display: none;
    }
}