<script data-isso="//comments.binaergewitter.de/"
        data-isso-reply-to-self="true"
        data-isso-require-author="false"
        data-isso-require-email="false"
        src="//comments.binaergewitter.de/js/embed.min.js"></script>

<h2>Kommentare</h2>
<section id="isso-thread" data-title="<%= title %>"></section>
