<div class="article">
  <h2>
    <a href="http://stream.radiotux.de:8000/binaergewitter.mp3">Live</a>
  </h2>
  <div>
    <p>Unseren Chat findet ihr im Libera.chat unter #Binaergewitter. Während der Sendung kann man uns dort antreffen
      und mit anderen Hörern diskutieren.</p>

    <p><a href="irc://irc.libera.chat:6697/binaergewitter">irc://irc.libera.chat:6697/binaergewitter</a></p>

    <p>Oder ihr benutzt den <a href="https://web.libera.chat//?channels=#binaergewitter">Webchat</a></p>
  </div>
  <div class="ow-fluid">
    <div class="podcast_player" style="width:100%;">
      <p>
        <div id="live-player"></div>
      </p>
      <script>
        head.ready('podlove', function () {
            podlovePlayer('#live-player',
            {
              link:  `http://stream.radiotux.de:8000/binaergewitter.mp3`,
              title: 'Live',
              poster: '/img/binaergewitter_logo1x1.png',
              audio: [
                    {
                      url: 'http://stream.radiotux.de:8000/binaergewitter.mp3',
                      mimeType: 'audio/mp3',
                      size: 100000000,
                      title: 'Audio Mp3'
                    },
              ],
            }, {
              version: 5,
              base: '/podlove-web-player/',
              theme: {
                  tokens: {
                     brand: "#7FAF1B",
                     brandDark: "#202c07",
                     brandDarkest: "#000",
                     brandLightest: "#7faf1b",
                     shadeDark: "#807E7C",
                     shadeBase: "#807E7C",
                     contrast: "#fff",
                     alt: "#fff"
                 }
              },
              share: {
                  channels: [
                    "mail",
                    "link"
                  ],
                  outlet: "/share.html",
                  sharePlaytime: true
              }
            });
          });
      </script>
    </div>
  </div>
</div>
