<div class="article">
  <h2>
    <a href="http://stream.radiotux.de:8000/binaergewitter.mp3">Live</a>
  </h2>
  <div>
    <p>Unseren Chat findet ihr im Freenode IRC unter #Binaergewitter. Während der Sendung kann man uns dort antreffen und mit anderen Hörern diskutieren.</p>

    <p><a href="irc://irc.freenode.net/binaergewitter">irc://irc.freenode.net/binaergewitter</a></p>

    <p>Oder ihr benutzt den <a href="http://webchat.freenode.net/?channels=binaergewitter">Webchat</a></p>
  </div>
  <div class="ow-fluid">
    <div class="podcast_player" style="width:100%;">
      <p>
        <audio controls="controls" id="live" preload="none">
          <source src="http://stream.radiotux.de:8000/binaergewitter.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </p>
      <script>
      head.ready('podlove', function () {
        $('#live').podlovewebplayer({
                poster: '/img/binaergewitter_logo.png',
                title: 'Live',
                permalink: 'http://stream.radiotux.de:8000/binaergewitter.mp3',
                author: 'Binaergewitter',
                alwaysShowHours: false,
                startVolume: 0.8,
                width: 'auto',
                summaryVisible: false,
                timecontrolsVisible: false,
                sharebuttonsVisible: false,
                chaptersVisible: false,
        });
      });
    </script>
    </div>
  </div>
</div>
