<ul class="nav nav-list">
  <li><a href="/">Home</a></li>
  <li><a href="/archives">Archiv</a></li>
  
  <% articles.each do |article| %>
      <li><a href="<%= article.url %>"><%= article.title %> <%= "(On Air)" if article.title == "Live" && is_live? %></a></li>
  <% end %>
</ul>