<div class="col-md-3">
  <div class="panel panel-default visible-md visible-lg">
    <div class="panel-heading">
        <h3 class="panel-title">Über uns</h3>
    </div>
    <div class="panel-body">
      <p>
          <%= Serious.description %>
          <a href="/pages/ueber-uns">mehr...</a>
      </p>
      <p>
        <strong>@binaergewitter</strong> auf
      </p>
      <p class="free-social-icons">
        <a rel="me" title="Mastodon" href="https://jit.social/@binaergewitter">
          <i class="icon-mastodon"></i>
        </a>
        <a title="Github" href="https://github.com/binaergewitter">
          <i class="icon-github"></i>
        </a>
        <a title="Patreon" href="https://www.patreon.com/binaergewitter">
          <i class="icon-3x icon-patreon"></i>
        </a>
        <a title="Liberapay" href="https://liberapay.com/Binaergewitter/">
          <i class="icon-3x icon-liberapay"></i>
        </a>
      </p>
    </div>
  </div>

  <!-- Stork Search !-->
  <div class="stork-wrapper form-group has-feedback has-search">
   <span class="glyphicon glyphicon-search form-control-feedback" style="top:0px"></span>
    <input data-stork="bgt" class="form-control" placeholder="Search" onfocus="loadStork()"><div class="stork-progress" style="width: 100%; opacity: 0;"></div>
    <div data-stork="bgt-output" class=""></div>
  </div>
  <script src="https://files.stork-search.net/releases/v1.6.0/stork.js"></script>
  <script>
    var loading_stork_search = false;
    function loadStork() {
      if(!loading_stork_search){
        loading_stork_search = true;
        console.log("start loading stork search");
        stork.register(
            'bgt',
            'https://search.binaergewitter.de/bgt.st'
        );
        console.log("finshed loading stork search");
      }
    }
  </script>
</div>
