<div class="col-md-3">
  <div class="panel panel-default visible-md visible-lg">
    <div class="panel-heading">
        <h3 class="panel-title">Über uns</h3>
    </div>
    <div class="panel-body">
      <p>
          <%= Serious.description %>
          <a href="/pages/ueber-uns">mehr...</a>
      </p>
      <p>
        <%= render_flattr() if Serious.flattr %>
      </p>
      <p>
        <strong>@binaergewitter</strong> auf
      </p>
      <p class="social-icons">
        <a title="Twitter" href="https://twitter.com/binaergewitter">
          <i class="icon-twitter"></i>
        </a>
        <a title="Github" href="https://github.com/binaergewitter">
          <i class="icon-github-circled"></i>
        </a>
        <a title="Flattr" href="https://flattr.com/profile/binaergewitter">
          <i class="icon-3x icon-flattr"></i>
        </a>
        <a title="Liberapay" href="https://liberapay.com/Binaergewitter/">
          <i class="icon-3x icon-liberapay"></i>
        </a
      </p>
    </div>
  </div>

  <!-- DDG Search !-->
  <form role="search" action="https://duckduckgo.com/" name="search">
    <input type="hidden" name="sites" value="blog.binaergewitter.de">
    <div class="widget-DDG form-group">
      <div class="widget-DDG_start"></div>
      <div class="widget-DDG_input input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input id="search" name="q" type="text" class="DDGinput form-control" placeholder='Suche' />
      </div>
      <div class="widget-DDG_end" onclick="document.x.submit()" class="btn btn-default"></div>
    </div>
  </form>
</div>
