<section id="articles">
  <% @recent.each do |article| %>
    <div>
      <%= render_article article, true %>
    </div>
    <hr>
  <% end %>
</section>
<h3><a href="/archives">Older posts</a></h3>
<%= render_archived @archived %>
