<section id="articles">
  <%= render_partial :live if is_live? %>
  <% @recent.each do |article| %>
    <div>
      <%= render_article article, true %>
    </div>
    <hr>
  <% end %>
</section>
<h3><a href="<%= catetory_archive_path(@category) %>">Older posts</a></h3>
<%= render_archived @archived %>
