<style>
    body {
        background-color: white;
    }

    a {
        color: #7FAF1B;
    }

    a:hover,
    a:focus {
        color: #93BF35;
    }

    .navbar {
        background-color: #f5f6f6;
    }

    article {
        word-wrap: break-word;
    }

    .header-name {
        font-size: 1.5em;
        font-weight: bold;
    }

    .header-slug {
        font-size: 1em;
        font-weight: 300;
    }

    .header-logo {
        height: 100%;
    }

    .free-social-icons a {
        font-size: 29px;
        text-decoration: none;
    }

    @media only screen and (min-width:1200px) {

        body,
        .form-control {
            font-size: 18px;
        }

        .container {
            width: 90%;
            max-width: 1360px;
        }

        h2,
        .h2 {
            font-size: 34px;
        }

        .panel-title {
            font-size: 22px;
        }

        blockquote {
            font-size: 20px;
        }
    }

    @media only screen and (prefers-color-scheme: dark) {

        body,
        .panel {
            color: #E8E8E8;
            background-color: #151515;
        }

        nav.navbar {
            background-color: #000000;
        }

        .navbar-default .navbar-brand,
        .navbar-default .navbar-nav>li>a {
            color: #BDBDBD;
        }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-nav>li>a:hover,
        .navbar-default .navbar-nav>li>a:focus {
            color: #E5E5E5;
        }

        .isso-form-wrapper input,
        .isso-form-wrapper textarea,
        .isso-form-wrapper .isso-text {
            color: #171717;
        }

        #isso-root .isso-author {
            color: #c1c1c1;
        }

        .isso-avatar img {
            background-color: #E8E8E8;
        }
    }
</style>
