<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ if .IsPage }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }} " />
<meta property="og:description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:locale" content="de_DE" />
<meta property="og:image" content="http://blog.binaergewitter.de/img/binaergewitter_logo_text.png" />
<meta property="fb:pages" content="1763347550560569">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ if .IsPage }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta name="twitter:image" content="http://blog.binaergewitter.de/img/binaergewitter_logo_text.png">

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}" />
{{ range (slice 57 72 76 114 120 144 152 180) }}
<link rel="apple-touch-icon" sizes="{{ . }}x{{ . }}" href="{{ (printf " apple-touch-icon-%dx%d.png" . .) | relURL }}" />
{{ end }}