<section id="isso-thread" data-isso-id="{{ .Permalink }}"></section>
<script data-isso="//comments.binaergewitter.de/" data-isso-css="true" data-isso-lang="de"
    data-isso-reply-to-self="false" data-isso-require-author="false" data-isso-require-email="false"
    data-isso-max-comments-top="10" data-isso-max-comments-nested="5" data-isso-reveal-on-click="5"
    data-isso-avatar="true" data-isso-avatar-bg="#f5f6f6" data-isso-avatar-fg="#7FAF1B" data-isso-vote="true"
    data-isso-vote-levels="" src="//comments.binaergewitter.de/js/embed.min.js"></script>
<noscript>Please enable JavaScript to view the comments powered by <a
        href="https://posativ.org/isso/">Isso</a>.</noscript>