<p class="free-social-icons">
    <a rel="me" title="Mastodon" href="https://jit.social/@binaergewitter">
        <i class="icon-mastodon"></i>
    </a>
    <a title="Github" href="https://github.com/binaergewitter">
        <i class="icon-github"></i>
    </a>
    <a title="Patreon" href="https://www.patreon.com/binaergewitter">
        <i class="icon-3x icon-patreon"></i>
    </a>
    <a title="Liberapay" href="https://liberapay.com/Binaergewitter/">
        <i class="icon-3x icon-liberapay"></i>
    </a>
</p>