{{ define "main" }}
{{ $pages := where .Site.RegularPages "Section" "post" }}
{{ $recentCount := .Site.Params.items_on_index | default 3 }}
{{ $archiveCount := .Site.Params.archived_on_index | default 10 }}

{{ range first $recentCount $pages }}
{{ partial "article_summary.html" . }}
{{ end }}

{{ $archived := after $recentCount $pages | first $archiveCount }}
{{ if $archived }}
<div class="archives">
    <h2>Archives</h2>
    <ul class="list-unstyled">
        {{ range $archived }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <span class="text-muted"> - {{ .Date.Format .Site.Params.date_format }}</span>
        </li>
        {{ end }}
    </ul>
    <p><a href="{{ "archives" | relURL }}">Alle Folgen...</a></p>
</div>
{{ end }}
{{ end }}